<% include ./partials/header %>

<div class="row" id="loginEJS">
    <h1 class="h1Login">Login</h1>
    <div class="loginForm">
        <form action="/login" method="post">
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="password">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Login</button>
            </div>
        </form>
        <a href="/breweries">Go Back</a>
        <div class="tempLogin">
          <h3>Temporary Account</h3>
          <p>Username: temp</p>
          <p>Password: password</p>
        </div>
    </div>
</div>

<% include ./partials/footer %>
