.thumbnail img {
  width: 100%;
}

.thumbnail .caption-full {
  padding: 9px;
}

.delete-form {
  display: inline;
}

/* Google Maps */
#map {
  height: 400px;
  width: 100%;
}

#loginEJS {
  height: 100%;
  width: 100%;
}

.tempLogin {
  padding: 5px;
  margin-top: 80px;
  color: black;
  text-align: center;
  border-radius: 15px;
}

.loginForm {
  width: 30%;
  margin: 25px auto;
}

.h1Login {
  text-align: center;
}
